[submodule "submodules/submodule"]
	path = submodules/submodule
	url = https://github.com/itcheese/submodule.git
	branch = main
[submodule "submodule"]
	path = submodule
	url = https://github.com/itcheese-repo/submodule.git
